body {
    
    background-image: url('https://bit.ly/45Rod4a');
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    color: rgb(43, 95, 177);
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(9, 54, 127);
    line-height: 1.8;
}
table {
    border-collapse: collapse;
    width: 100%;
}
 th, td {
    color: rgb(37, 176, 176);
    padding: 15px;
    text-align: center;
    border-bottom: 10 solid rgb(13, 13, 13);
}
tr:hover {background-color: rgba(166, 203, 216, 0.6); }
caption {color: rgb(35, 160, 160);}